.navbar {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWoY9TpSx88HqnbRAqMnQCq08pSvv5MLNFmg&usqp=CAU");
  height: 150px;
}

.account-buttons {
  display: flex;
  justify-content: space-between;
}
.nav-container {
  display: flex;
  justify-content: end;
}

.logo-container {
  display: flex;
  justify-content: space-between;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(4, 4, 4, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d4d6d6;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid rgb(152, 149, 149);
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
}
#navbarScrollingDropdown {
  color: white;
}

.heading {
  margin-top: 1px;
}
.heading-title {
  color: rgb(248, 6, 220);
  font-size: 80px;
  font-family: Gabriola;
  font-weight: bold;
}
