.navbar {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWoY9TpSx88HqnbRAqMnQCq08pSvv5MLNFmg&usqp=CAU");
  height: 130px;
}

.account-buttons {
  display: flex;
  justify-content: end;
  margin-right: 2%;
}
.nav-container {
  display: flex;
  justify-content: end;
}

.logo-container {
  display: flex;
  justify-content: space-between;
}

#navbarScrollingDropdown {
  color: white;
}

.heading {
  margin-top: 1px;
}
.heading-title {
  color: rgb(74, 72, 74);
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 30px;
}
